body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#Decor {
    width: 200px;
    background-color: #F4F4EE;
}

    #Decor, #Decor ul {
        list-style-type: none;
        margin-left: 25px;
        margin-bottom: 5px;
        padding-left: 20px;
        cursor: pointer;
    }

.handle {
    background: transparent url( /images/tree-handle.png ) no-repeat left top;
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.closed {
    background-position: left top;
}

.opened {
    background-position: left -10px;
}