@model KingPim.Models.ModelViewModels.AttributeGroupViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Attributes";
}

@using (Html.BeginForm("Create", "AttributeGroup"))
{
    <div class="col-md-6">
        <h3>Create a new attribute group</h3>
        @Html.TextBox("AttributeGroupName")
        <input type="submit" name="SaveButton" value="Save" />
    </div>
}

@foreach (var item in Model.AttributeGroups.ToList())
{
    <li>@Html.ActionLink(item.AttributeGroupName, "CreateAttribute", "AttributeGroup", new { Id = item.AttributeGroupId }, null)</li>
}

