@model KingPim.Models.ModelViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

<p>Create a new category!</p>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <input type="submit" value="Create" class="btn btn-success pull-right" />
    </div>
</form>
 
<p>Create a new Subcategory!</p>



@using (Html.BeginForm("CreateSubCategory", "Categories", FormMethod.Post))
{
    <div class="col-md-6">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="SubCategoryName" class="form-control" />     
          @Html.DropDownList("Category", new SelectList(ViewBag.Categories, "CategoryID", "Name"))
        <input type="submit" value="Create" class="btn btn-success pull-right" />
        </div>

}