@model IEnumerable<KingPim.Models.SubCategory>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Logged In";
}

<h3>test!!!</h3>

<p>Category catalog</p>
@foreach (var category in ViewBag.Categories)
{
    <li> @category.Name

        @foreach (var subcategory in Model)
        {
            if (subcategory.CategoryID == category.CategoryID)
            {
                <ul>@subcategory.Name</ul>
            }

        }
    </li>
}
   



<form action="/categories" method="post">
    <button class="btn btn-success">Manage Categories</button>
</form>